# neovim ignores
nvim/plugged
nvim/.init.vim-rplugin~
nvim/.netrwhist
nvim/autoload/plug.vim*
nvim/layer/local
nvim/spell/*
supervise

dotfiles/.config/kitty/platform.conf
dotfiles/.config/kitty/current-theme.conf
/.castles
