# Rule for the Ergodox EZ Original / Shine / Glow
SUBSYSTEM=="usb", ATTR{idVendor}=="feed", ATTR{idProduct}=="1307", GROUP="input"
# Rule for the Planck EZ Standard / Glow
SUBSYSTEM=="usb", ATTR{idVendor}=="feed", ATTR{idProduct}=="6060", GROUP="input"
