{:additional-snippets [;; example from clojure-lsp docs
                       {:name "wrap-let-sexpr"
                        :detail "Wrap current sexpr in let"
                        :snippet "(let [$1] $0$current-form)"}
                       ;; custom
                       {:name "letsc-comment"
                        :detail "Add ignored comment block containing letsc"
                        :snippet "#_(comment (./letsc [$1] $0))"}
                       {:name "letsc"
                        :detail "Add letsc"
                        :snippet "(./letsc [$1] $0)"}]}
