window#waybar {
    background: rgba(0,0,0,0);
    color: #ffffff;
    transition-property: background-color, border-color;
    transition-duration: .5s;
}

window > box > * > widget > box, window > box > * > widget > label {
    background: #282828;
    border-radius: 20px;
    border: 4px solid #4d9966;
}

.modules-left > widget > *, .modules-center > widget > *, .modules-right> widget > * {
    padding: 0 20px;
}
#workspaces button { color: inherit; } /* otherwise workspaces is a default dull grey colour */
#workspaces button.focused > *, #workspaces button.active > * { background: #010101; }

/* move workspace padding so coloured background is wider */
#workspaces button { padding: 0; }
#workspaces button > * { padding: 0 10px; }

button.urgent {
    background-color: #eb4d4b;
}

#network.disconnected {
    border-color: #ff9500;
}

@keyframes urgentblink {
    to {
        border-color: #f0a500;
    }
}

@keyframes criticalblink {
    to {
        border-color: #eb4d4b;
    }
}

#battery.warning:not(.charging), #battery.critical:not(.charging) {
    animation-duration: 0.4s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) { animation-name: urgentblink; }
#battery.critical:not(.charging) { animation-name: criticalblink; }

#tray > .passive {
    -gtk-icon-effect: dim;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #ffffff;
}
