window#waybar {
    background: rgba(0,0,0,0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* immediate child widgets, because some widgets (e.g. tray) have nested widgets */
.modules-left > widget, .modules-center > widget, .modules-right> widget {
    background: #282828;
    border-radius: 20px;
    border: 4px solid #4d9966;
}

.modules-left > widget > *, .modules-center > widget > *, .modules-right> widget > * {
    padding: 0 20px;
}

/* otherwise workspaces is a default dull grey colour */
#workspaces button { color: inherit; }

#workspaces button.focused, #workspaces button.active {
    border-top: 4px solid #4d9966;
    border-bottom: 4px solid #4d9966;
}
/* Annoyingly, the button background "leaks" over the border, so we set it on the inner element, then move padding to
 * the inner element from the outer to create spacing again */
#workspaces button.focused > *, #workspaces button.active > * { background: #010101; }
#workspaces button { padding: 0; }
#workspaces button > * { padding: 0 10px; }

button.urgent {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #ffffff;
}
